nav ul li
{
	display: inline-block;
	padding: 10px;
}
li
{
	margin-right: 1px;
	margin-left: 1px;
	font-weight:bold;
	border-style: outset;
	border-color: #F25FF;
	margin:-3px;
}
.active
{
	border-bottom: none;
}
.centrar
{
	width: 960px;
	margin: 0 auto;
	background-color:#DDD;
	border-radius: 0 0 20px 20px;
	text-align: center;
	
}
header
{
	width: 960px;
	margin-left: -35px;
	font-family: calibri;
	text-align: center;	
	margin-bottom:-15px;
}
body
{
	
	font-family: calibri,helvetica,arial;
	background-image: url("fondo.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #FFF;
	
}
footer
{
	margin: 0 auto;
	width: 960px;
	text-align: left;
	border-radius: 20px;
	padding: 5px;
	color:#FFF;
	background-color: #BDBDBD;	
}
#izq
{
	margin-right: 30px;
	text-align: right;
}
#body
{
	background-image: none;
	background-color: #FFF;
}
#centro
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
	font-family: calibri;	
}