nav ul{
	margin:0;
}
nav ul li
{
	display: inline-block;
	padding: 10px;
	background-color:#FFF;
	border-radius:5px 5px 0 0;
	border:1px solid #000;
	margin-bottom:-1px;
}
nav ul li.active
{
	border-bottom:1px solid #FFF;
}
.centrar
{
	width: 960px;
	margin: 0 auto;
	background-color:#DDD;
	border-radius: 0 0 20px 20px;
	text-align: center;
	
}
header
{
	font-family: calibri;
	text-align: center;	
}
body
{
	
	font-family: calibri,helvetica,arial;
	background-image: url("fondo.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #FFF;
	
}
footer
{
	text-align: left;
	border-radius: 20px;
	padding: 5px;
	color:#FFF;
	background-color: #BDBDBD;	
}
.main{
	width:960px;
	margin:0 auto;
}
.form{
	background-color:#FFF;
	border:1px solid #000;
	border-radius:20px;
	margin-bottom:20px;
	padding:20px;
	z-index:1;
}
#izq
{
	margin-right: 30px;
	text-align: right;
}
#body
{
	width: 960px;
	margin: 0 auto;
	background-image: none;
	background-color: #FFF;
}
#centro
{
	margin: 0 auto;
	text-align: center;
	font-family: calibri;
	border-radius: 20px;
	padding: 2px;
	background-color: #0080FF;	
	color: #FFFFFF;
}
#titulo
{
	border-style: outset;
	border-color: #F25FF;
	border-right: none;
	border-left: none;
	margin: 0 auto;
}
#datos
{
	font:50%/150% calibri;
	margin-left: 20px;
	margin-top: 20px
}